<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>River Monitoring System</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <header class="title">
    <h1>RIVER MONITORING GUI</h1>
  </header>
  <main class="container">
    <section class="step first">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </section>
    <section class="step second">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </section>
    <section class="step third">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </section>
  </main>
  <footer>
    River Level Monitoring System &copy; 2024
  </footer>
</body>
</html>
